.pagination{
    display: flex;
    justify-content: space-between;

    margin: 25px 20px;
    gap: 20px;

    button{
        display: flex;
        justify-content: center;

        margin-top: 20px;
        padding: 5px;

        border-radius: 10px;
        border: none;

        color: orangered;

        width: 200px;
    }
}