.Form{
    display: flex;
    flex-direction: column;

    padding: 20px;
    margin: 20px;

    background-color: orangered;

    width: 100%;
    height: 100%;

    border-radius: 20px;

    input{
        margin: 15px;
        padding: 5px 10px;

        background-color: rgb(235, 235, 235);
        color: orangered;

        border: none;
        outline: none;
        border-radius: 10px;
    }

    button{
        margin: 20px;
        padding: 5px 10px;

        background-color: rgb(235, 235, 235);
        color: orangered;

        border: none;
        border-radius: 10px;
    }
}